* {
        box-sizing: border-box;
    }

    body {
        background-color: white;
        font-size: 20px;
    }

    h1 {
       margin-bottom: 15px;
    text-align: center;
    color: red;
    font-size: 50px;
    }

    section {
        position: relative;
        padding: 15px;
        width: 90%;
    }

    p {
        position: relative;
        clear: right;
    }

    div {
        position: relative;
        background-color: rgb(105, 135, 219);
        border: 3.5px solid black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

    .h2 {
        float: right;
        color: white;
        width: 100px;
        padding: 5px;
        margin: -3px -3px 0px;
        border: 2px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: blue;

    }

    .h3 {
        float: right;
        color: white;
        width: 100px;
        padding: 5px;
        margin: -3px -3px 0px;
        border: 2px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: blue;

    }

    .h4 {
        color: white;
        float: right;
        width: 100px;
        padding: 5px;
        margin: -3px -3px 0px;
        border: 2px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: blue;

    }

    .content {
        padding: 5px;
        border: none;
        background-color: rgb(253, 253, 253)gray;
        font-family: Helvetica;
        color: black;
        margin: 3px ;
        height: 150px;
        overflow: auto;
    }

    .row {
        width: 100%;
    }

    /*Media Queries for Responsive Designs*/
    /*Desktop Version*/
    @media (min-width: 992px) {
        .col-lg-4 {
            float: left;
            width: 33.33%;
        }
    }

    /*Tablet Version*/
    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-6 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .col-md-12 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*Mobile Version*/
    @media (max-width: 767px) {
        .col-sm-12 {
            float: left;
            width: 100%;
        }
    }